In [1]:
%pylab inline

Populating the interactive namespace from numpy and matplotlib

<hr>
# Introduction to MS SQL Server

By Kaitlin Cornwell and Alex Cao  


April 20, 2018  

<a href="http://cscar.research.umich.edu/" target="_blank">CSCAR</a> at The University of Michigan

Please fill out the workshop sign-in <a href="https://goo.gl/forms/kLpPDHKlwZIV5ZpD2" target="_blank">here</a>

We'll practice our MS SQL Server queries using SQL Server Management Studio (a.k.a. SSMS).

Structured Query Language ("SQL") allows you to extract or change specific information in a relational database (i.e. a series of tables).

MySQL, SQLite, PostgreSQL, MS SQL Server, etc. are all database management systems that rely on SQL. Each has its own special variety of SQL, but the general format of the queries is the same. The flavor of SQL for MS SQL Server is Transact-SQL or T-SQL. Make sure you include T-SQL when you are googling for solutions otherwise you might get a solution for another database type.

# SQL Queries

## Format
Series of commands followed by argument(s)

When dealing with multiple tables, identify a column name with tablename.columnname (required if there is more than one column with the same name)

End query with semicolon for multiple consecutive queries

## Style + Readability
Table names and column names can be case sensitive. For MS SQL Server, it is NOT case sensitive. Depends on the database. 

SQL keywords are NOT case sensitive

Standard format: Commands in all-caps

Each command set on new line

## Comments
Single-line comments:

-- begin line with two hyphens

Multi-line comments:

/\* enclose comment
in asterisk|slashes \*/

# SELECT, FROM, AS
The SELECT command specifies the desired columns 

The FROM command specifies the table from which those columns should be selected

The AS command temporarily renames a column or table with the specified name (an "alias")

An '\*' character selects all columns in a table

## Example
To retrieve all items from the resource catalog of items used in surgical cases:

**SELECT *  
FROM itmcat**

To retieve only the item manufacturer number, item description, and the date the item was added to the resource catalog, you would use the command:

**SELECT itm_altdesc, itm_procat, itm_adddate  
FROM itmcat**

To do the above while renaming the columns:

**SELECT itm_altdesc AS 'Item description', itm_procat AS Category, itm_adddate AS [Date added]  
FROM itmcat**

## Practice 1
In the table that contains product category information (prdmas), retreive all columns except prd_order, prd_dpcorder, and prd_serial. Rename prd_code and prd_catgry, but call them "Code" and "Product Category".

Include a comment in your solution

# COUNT
COUNT returns the number of non-null results in the specified column or the number of non-null rows.

## Example
To count the number of non-null rows from the itmcat table:

**SELECT COUNT(*)  
FROM itmcat**

## Practice 2
Count the number of non-null serial numbers in the cstinv table. Rename the table "cost inventory".

# WHERE, AND, OR
The WHERE command retrieves rows that satisfy a given condition

Simple conditions:
- =          Equals  
- != or <>   Does not equal
- \> or <    Is greater/less than
- \>= or <=  Is greater/less than or equal to

Additional conditions covered in following slides:
- a AND b
- a OR b
- BETWEEN a AND b
- IN ('a','b','c')
- LIKE 'a'

BETWEEN, IN, and LIKE can all be modified using the "NOT" keyword to retrieve rows that are not a match

## Example
Using the 'itmcat' table, use this query to retrieve all items added before 2015:

**SELECT *  
FROM itmcat  
WHERE itm_adddate < '2015-01-01'**
    
Note: itm_adddate is of type string instead of date. This command works because the date is specified in the correct order: 'YYYY-MM-DD'.

Filter out items that are listed as inactive:

**SELECT *  
FROM itmcat  
WHERE itm_inact != 'I'**

Applying both filters: 

**SELECT *
FROM itmcat  
WHERE itm_inact != 'I' AND itm_adddate < '2015-01-01'**

Applying either filter:

**SELECT *  
FROM itmcat  
WHERE itm_inact != 'I' OR itm_adddate < '2015-01-01'**

## Practice 3
Retrieve a list from the cstinv table of items with a lasupd starting in 2017 with a serial number of less than 100,000, or items with a lasupd before 2010 and that is located in "MOTT OR SP" (column inv_cstctr).

# BETWEEN, IN, and LIKE (wildcards)

## Between

The BETWEEN command gives a range of values (inclusive)

BETWEEN can be modified using the "NOT" keyword to retrieve rows that are not a match

## Example
To retrieve all items added in April 2014:

**Select *  
FROM itmcat  
WHERE itm_adddate BETWEEN '2014-04-01' AND '2014-04-30'**

## IN
The IN command gives multiple possible matching values

## Example
Rerieve item names that do not have the product categories BURS or INST:

**SELECT itm_altdesc  
FROM itmcat  
WHERE itm_procat NOT IN ('BURS', 'INST')**

## LIKE, wildcards
The LIKE command specifies a pattern to match, such as 'DNU' or '2016'. 

### Wildcards

Wildcards are characters that stand in for a range of possible values. 

Wildcards include:  
% : A string of 0+ characters

_ : A single character  

[...] : A single character from the range or list in the brackets  

[^...] : A single character not from the range or list in the brackets  

Without any wildcards, LIKE will match only values equal to the exact pattern.

### Reference
https://docs.microsoft.com/en-us/sql/t-sql/language-elements/like-transact-sql?view=sql-server-2017

## Example
To match all items with names starting with DNU, use this query:

**SELECT *  
FROM itmcat  
WHERE itm_altdesc LIKE 'DNU%'**

To match all items with names starting with letters A-D or K-Z, we can use the query:

**SELECT *  
FROM itmcat  
WHERE itm_altdesc LIKE '[^E-J]%'**

## Practice 4
1\. From the cstctr table, retreive the serial number, description, and site for items with auxnum1 between 200000 and 210000 and that are located in either KEC or MOTT.

2\. From the cstctr table, retreive all information about items from two- or three-letter sites.

3\. From the cstinv table, retrieve the serial number, item number, and cstctr for items with a cstctr where the second part of the code begins with an F

# DISTINCT
The DISTINCT command retrieves only distinct combinations of the specified columns.

It is also commonly used in combination with COUNT to return the number of distinct combinations.

## Example
To retrieve all past combinations of item categories and manufacturers:

**SELECT DISTINCT itm_procat, itm_mfgcod  
FROM itmcat**

To count the number of distinct item categories:

**SELECT COUNT(DISTINCT itm_procat)  
FROM itmcat**

Note: SQL Server does not support COUNT DISTINCT for multiple columns. There are other ways to do this. We will see examples later.

## Practice 
Retrieve all distinct combinations of item descriptions and item procats from the itmcat table where the item description contains the metric unit (cm).

# ORDER BY, TOP, LIMIT

## Order By

ORDER BY sorts the results according to the specified columns. Default is ascending, but you can use ASC/DESC to specify the ordering.

## Example
To retrieve items ordered by item cost:

**SELECT itm_altdesc, itm_ucst01  
FROM itmcat  
ORDER BY itm_ucst01 DESC**

## TOP, LIMIT
TOP and LIMIT (syntax depends on type of database) retrieve only the first x results or percent of results; good for checking results before requesting a very large query or in combination with the ORDER BY command.

LIMIT is supported in MySQL and Oracle databases.

TOP is supported by T-SQL.

### Example

To retrieve the ten most expensive items:

**SELECT TOP 10 itm_altdesc  
FROM itmcat  
ORDER BY itm_ucst01 DESC**

To retrieve the top ten percent of products by price:

**SELECT TOP 10 PERCENT itm_altdesc, itm_ucst01  
FROM itmcat  
ORDER BY itm_ucst01 DESC**

## Practice 6
From the cstinv table, order the items by lasupd (descending) and then by cstctr (ascending). Return the first 1000 rows.

# JOIN
JOIN connects two tables where the specified columns match


INNER JOIN - all rows where specified columns match (default)

LEFT JOIN - all rows from left table and matching rows in right table

RIGHT JOIN - all rows from right table and matching rows in left table

FULL OUTER JOIN - all rows from left and right table

ANTI-JOIN/EXCULDING JOIN - all the rows from the left/right table that are not included in the other table

SELF JOIN - join one table with itself (uses same commands as other JOIN statements)

<img src="Visual_SQL_JOINS_orig.jpg"alt="Drawing" style="width: 400px;"/>
<a href="https://www.codeproject.com/Articles/33052/Visual-Representation-of-SQL-Joins" target="_blank">Source</a>

## Example
To retrieve all combinations of item names, services, and inventory locations:

**SELECT itmcat.itm_altdesc, cstinv .inv_svcid, cstinv.inv_loct01, cstinv.inv_loct02, cstinv.inv_loct03  
FROM itmcat  
INNER JOIN cstinv  
ON itmcat.itm_itemno = cstinv.inv_itemno**

To retrieve all combinations of item names, services, inventory locations, and sites:

**SELECT itmcat.itm_altdesc, cstinv .inv_svcid, cstinv.inv_loct01, cstinv.inv_loct02, cstinv.inv_loct03, cstctr.ctr_site  
FROM itmcat  
INNER JOIN cstinv  
ON itmcat.itm_itemno = cstinv.inv_itemno  
INNER JOIN cstctr  
ON cstinv.inv_cstctr = cstctr.ctr_cstctr**

### Primary keys
A primary key is field that is a unique identifier to each record in a table. Each table can have only one primary key, but multiple columns can define a primary key (called a composite primary key).

### Foreign Keys
A foreign key is a field in a table that matches the primary key in a different table.
The table with the foreign key is called the child table, while the table containing the primary key is called the parent table.

Note: Foreign and primary keys are not required.

You can check for primary keys and foreign keys in your table by going to the **Columns** or **Keys** node under your table of interest

### Example
In the itmcat table, **itm_serial** could be considered the a primary key.  
In the cstctr table, **ctr_cstctr** could be considered the primary key while **inv_cstctr** would be the foreign key in the cstinv table.

## Practice 7
1. Return the product code, category and auxnum from the prdmas table with a column for the itemno (found in the itmcat table) included. Note: you can join itmcat with prdmas on the itm_procat and prd_code columns.

2. Retrieve the item numbers of items that are used in surgical cases (table itmcat), but are not listed in the item inventory (table cstinv).

3. Retrieve a list of any item number that is not null and that appears in inventory (cstinv) or for use in surgical cases (itmcat).

# GROUP BY, HAVING

## Group By
GROUP BY groups the rows according to their values in the selected column and then uses an "aggregate function" to create a new column with information about each group (of rows). 

Example aggregate functions:
- COUNT()
- SUM()
- MAX()
- MIN()
- AVG()

## Example
To retrieve the total quantity on hand for every product in RCAT:

**SELECT inv_itemno, SUM(inv_qtyohd)  
FROM cstinv  
GROUP BY inv_itemno**

## HAVING
The HAVING command acts like a WHERE command for GROUP BY

## Example
To retrieve the number of items per itm_ucst01 with a itm_ucst01 of more than 200:

**SELECT itm_ucst01, COUNT(\*) AS count  
FROM itmcat  
GROUP BY itm_ucst01  
HAVING itm_ucst01 > 200**

## Practice 8
1. Using the itmcat table, retrieve itm_patnum for items with an average weight (within each itm_patnum) of at least 10.  
2. From the itmcat table, find the minimum and maximum average weights of items within each description type (itm_descrp).

# UNION
UNION combines the results of 2+ SELECT queries.

Requirements: same number, type, and order of columns

Default is only distinct results; use UNION ALL for all results

## Example
To retrieve a combined list of product categories and item descriptions:

**SELECT prd_catgry FROM prdmas  
UNION ALL  
SELECT itm_altdesc FROM itmcat**

To retrieve a combined list of product categories and item descriptions with duplicates removed:

**SELECT prd_catgry FROM prdmas  
UNION  
SELECT itm_altdesc FROM itmcat**

## Practice 9
Using the itmcat and cstinv tables, retrieve a list of all serial numbers and itm_procats or inv_svcids.

# Subqueries

Subqueries are queries within a query. They allow you to query from more specific tables than are readily available to you. 

This technique can be used to count the number of distinct rows for multiple columns.

## Example
To get the number of items with a distinct combination of itm_procat and itm_mfgcod:

**SELECT COUNT(*\)  
FROM  
(SELECT DISTINCT itm_procat, itm_mfgcod  
FROM itmcat)**
        
You can think of this as querying a table that you are not able to see. In this example, a table is made behind the scene that contains the results of **SELECT DISTINCT itm_procat, itm_mfgcod FROM itmcat** (a table that contains one row per unique pair of EmployeeID and ShipperID). From that table, you then query using the COUNT(*) command. 

Subqueries can also be used with a WHERE statement instead of a FROM statement.

## Practice 10
1. Using a subquery, retrieve the prd_code from the prdmas table that corresponds to products whose itm_purunt is "BX". (Hint: itmcat.itm_procat = prdmas.prd_code)
2. Count the number of distinct pairs of itm_patnums and itm_descrp within the itmcat table.

# Combining commands

You can combine as many commands as you like to make your queries as specific as you require. Pay careful attention to the order of the commands.

## Command order of operations
SELECT (TOP), DISTINCT  
FROM  
WHERE (BETWEEN | LIKE | IN)  
GROUP BY  
HAVING  
ORDER BY (ASC | DESC)   
UNION (ALL)

## Practice 11
Retrieve a table with two columns: the inv_cstctr and the total cost of the items within each inv_cstctr.

# SQL Server Functions

We've only talked about a few basic numeric functions in T-SQL.

But there are a lot more dealing with strings, dates, data types etc. It can get pretty complicated if you want it to. The **Mathematical** and **Date and Time** functions are probably the ones you will probably start using most.

Here is a link to an overview of the functions supported in T-SQL.  
https://docs.microsoft.com/en-us/sql/t-sql/functions/functions?view=sql-server-2017

# Food For Thought
<IMG SRC="screenshot.png" alt="Drawing" style="width: 2000px;">

<img src="foodforthought2.png"alt="Drawing" style="width: 400px;"/>

# More practice
1. Return a table with the following 3 columns, item name, full product category name, and date added. Then, have the table sorted by date added with the most recently added at the top. 
2. Return a table with the following 3 columns, rcat number, item name, and quantity on hand, that are currently active. Then, return only the top 10 items based on quantity on hand in descending order for  UH and Mott.  
3. Find the top 5 items with the highest unit cost, by using the the itm_ucst01 column.
4. Count the number of distinct pairings of inv_stkunt and inv_cstctr for items with an inv_cstctr beginning with 'UH'.
5. For items added between 2002 and 2010 that come from cstctr not starting with 'UH', how many product categories are there in each auxnum1 group? (Hints: prdmas.prd_code = itmcat.itm_procat, itmcat.itm_itemno = cstinv.inv_itemno)

# Quiz
Test your SQL knowledge here:
https://goo.gl/forms/jgPcRXjX5QzDsQqE3